/* * Add Task */ */
 .add-task {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .add-task h2{
    margin-top: 33px;
    padding: 10px;
  }
  .add-task input, 
  .add-task textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-task button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-task button:hover {
    background: #218838;
  }