.footer {
    color: #333;
    background-color: #f9f9f9;
    padding: 20px 4vw;
    margin: 10px auto 15px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}

.footer-content-left, .footer-content-center, .footer-content-right {
    flex: 1;
    min-width: 200px;
}
.footer-content-center{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin-left: 100px;
}
.footer-content-left{
    text-align: start;
}

.footer-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-description {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: 6px
}

.footer-social-icons img {
    width: 34px;
    height: 34px;
    margin-right: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-social-icons img:hover {
    transform: scale(1.1);
}

.footer-content-center h2, .footer-content-right h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-content-center ul, .footer-content-right ul {
    list-style: none;
    padding: 0;
    font-size: 1.2em;
}

.footer-content-center li, .footer-content-right li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-content-center li:hover, .footer-content-right li:hover {
    color: #15ff00;
}

.footer hr {
    width: 100%;
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 20px 0;
}

.footer-copyright {
    text-align: center;
    font-size: 0.8em;
    color: #777;
}

@media (max-width: 750px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}