.outher{
  display: flex;
  flex-direction: column;
  padding: 15%;
}
.guide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .guide-row {
    display: flex;
    align-items: center;
  }
  
  .arrow {
    width: 50px;
    height: 50px;
    background-color: black;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    margin: 0 10px;
  }
  